root { 
    display: block;
}

.footer {
    background-color:#222;
    height:20px;
    line-height: 0px;
    font-size:12px;
    font-family: helvetica;
    padding-left:10px;
    text-align: center;
    -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2), 0 -1px 0px rgba(255, 255, 255, 0.7) inset;
    -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2), 0 -1px 0px rgba(255, 255, 255, 0.7) inset;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2), 0 -1px 0px rgba(255, 255, 255, 0.7) inset;
    background-repeat: no-repeat;
    opacity:0.5;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.footer_menu {
    color:#AAA;
    font-weight:normal;
    text-align:center;
    text-shadow: 3px 3px 20px #000;
}

.footer_menu ul {
    padding-top: 10px;
    margin: 0;
    list-style: none;
}

.footer_menu li {
    float: left;
}

.footer_menu ul li a {
    text-decoration: none;
    text-align: center;
    padding: 4px;
    display: block;
    color: white;
    background: transparent;
    -moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

